body {
	background-color: red;
}

top {
	background-color: green;
}

#navbar {
    width: 40%;
    min-width: 470px;
    display: block;
    float: left;
}

#navbar ul {
    margin: 0;
    overflow: auto;
}

#navbar li {
    margin 0;
    list-style: none;
    text-decoration: none;
    color: white;
    float: left;
    line-height: 3.7em;
    background-color: blue;
}