body {
    background-color: black;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    min-width: 454px;
    color: white;
    width: auto;
}

#wrapper {
    overflow: hidden;
    width: 90%;
    display: none;
    margin-left: auto;
    margin-right: auto;
}

#top {
    overflow: auto;
    width: 100%;
    overflow-x:hidden;
    margin-bottom: .5em;
}

#top h1 {
    color: #D9D9D9;
    font-weight: 400;
    overflow: auto;
    display: block;
    float: left;
    margin: 0;
    padding-right: 0;
    min-width: 210px;
    line-height: 1.7em;
}

#top a {
    color: #D9D9D9;
    text-decoration: none;
}

#top a:hover {
    color: #2DA18A;
}

#navbar {
    min-width: 426px;
    display: block;
    float: right;
    overflow: auto;
    padding: 0;
    margin: 0;
}

#navbar ul {
    margin: 0;
    padding: 0;
    overflow: auto;
    float: right;
}

#navbar li {
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: white;
    float: left;
    line-height: 3.7em;
}
#navbar a {
    text-decoration: none;
    color: #D9D9D9;
    margin-left: 1em;
    text-align: center;
}

#navbar a:hover {
    color: #2DA18A;
}

#imgWrapper {
    display: block;
    float: left;
    height: 100%;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

#text {
    display: block;
}

#text h2 {
    color: white;
    padding-top: 10em;
    line-height: 1em;
    font-weight: 400;
}

#location {
    line-height: .5em;
}

#text h3 {
    color: white;
    font: italic;
    font-weight: 400;
}

#textcontent p{
    color: white;
    line-height: 1.2em;
}


#fullscreen {
    height: 100%;
    display: none;
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
}

#fullscreen img{
    height: 100%;
    display: block;
    margin: 0 auto;
}

#tiles img{
    width: 33%;
    max-width: 650px;
}

#tiles div{
    display: inline;
    padding: 0;
}

#tiles a:link{
    color: black;
}

#tiles a:visited{
    color: black;
}

button {
	padding-top: 25px;
	padding-bottom: 25px;
}
