body {
    background-color: black;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    min-width: 454px;
}

#wrapper {
    
    overflow: hidden;
    width: 90%;
    display: block;
    margin-left: 1em;
}

#top {
    overflow: auto;
    width: 100%;
    overflow-x:hidden;
    margin-bottom: 1em;
}

#top h1 {
    color: #D9D9D9;
    font-weight: 400;
    overflow: auto;
    display: block;
    float: left;
    margin: 0;
    padding-right: 0;
    min-width: 210px;
    line-height: 1.7em;
}

#top a {
    color: #D9D9D9;
    text-decoration: none;
}

#top a:hover {
    color: #2DA18A;
}

#navbar {
    min-width: 426px;
    display: none;
    float: right;
    overflow: auto;
    padding: 0;
    margin: 0;
}

#navbar ul {
    margin: 0;
    padding: 0;
    overflow: auto;
    float: right;
}

#navbar li {
    margin: 0;
    list-style: none;
    text-decoration: none;
    color: white;
    float: left;
    line-height: 3.7em;
}
#navbar a {
    text-decoration: none;
    color: #D9D9D9;
    margin-left: 1em;
    text-align: center;
}

#navbar a:hover {
    color: #2DA18A;
}

#imgWrapper {
    display: block;
    float: left;
    height: 100%;
    width: 100%;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

#text {
    display: none;
}

#text h2 {
    color: white;
    padding-top: 10em;
    line-height: 1em;
    font-weight: 400;
}

#text h3 {
    color: white;
    font: italic;
    font-weight: 400;
}

#textcontent p{
    color: white;
    line-height: 1.2em;
}


button {
	padding-top: 25px;
	padding-bottom: 25px;
}

