body {
	background-color: #98520c;
	font-family: Verdana, Geneva, sans-serif;
}

#wrapper {
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	overflow: auto;
}

#top {
	background-color: black;
}

#mugShot {
	margin-top: 10px;
	float: right;
}

#nameLogo {
	background-color: white;
	text-align: center;
	padding-left: 100px;
	padding-right: 100px;
	margin-top: 10px;
	padding-top: 3px;
	padding-bottom: 2px;
	float: left;
}

#flagLogo {
	padding-top: 3px;
	float: right;
}

#content {
	float: left;
	overflow: hidden;
	background: #FFF url(guitar.jpg) no-repeat left bottom;
	margin-bottom: 10px;
}

#middle {
	width: 430px;
	padding-bottom: 32767px;
  	margin-bottom: -32767px;
	float: left;
	padding-top: 5px;
}

#middle img {
	float: right;
	border: 1px solid black;
	margin-left: 10px;
}

#middle p {
	margin-top: 5px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 10px;
	line-height: 1.3em;
	font-size: 0.8em;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #000;
}

#left {
	width: 145px;
	float: left;
	background: #CE8A21;
}

#left ul {
	padding-left: 0;
	margin-top: 0;
	list-style: none;
	margin-bottom: 0;
}

#left li {
	padding: 5px 5px 5px 10px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

#left a {
	font-weight: bold;
	font-size: .9em;
	text-decoration: none;
	color: white;
}

#left a:hover {
	color: #FFC;
	text-decoration: underline;
}


#right {
	width: 175px;
	padding-bottom: 32767px;
  	margin-bottom: -32767px;
	float: right;
	background-color: #FFC;
	padding-top: 10px;
}

#right h3 {
	font-size: .8em;
	padding-left: 10px;
	margin-top: 0px;
	margin-bottom: 11px;
}

#right p {
	font-size: .7em;
	padding-left: 10px;
}

#right img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}
